/* THIS CODE IS REPONSIBLE TO MAKE THE WEBPAGE RESPONSIVE */

/*
HOME PAGE 
*/

/* navigation bar */
@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
}

/* The more information columns */
@media screen and (max-width: 750px) {
    
    .section-container {
        flex-direction: column; /* Switch to a column layout on smaller screens */
      }
    
      .column,
      .text-content {
        width: 100%; /* Make columns take full width on smaller screens */
      }
  }

@media screen and (max-width: 650px)
{
  #intro p{
    padding: 0rem 1em 0rem 0rem;
    font-size: 24px;
  }
}

@media screen and (max-width: 1100px)
{

  #intro h4
  {
    position: relative;
    font-size: 50px;
    padding: 0rem 50px 0rem;
  }
  .hamburger,
  .toggle-menu{
    display: block;
  }

  .hamburger{
    z-index: 5;
  }
  .nav__links{
    z-index: 4;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: var(--secondary-color);
    width: 300px;
    height: 100%;
    padding: 65px;
  }

  .nav__links li
  {
    width: 100%;
  }

  .nav__links a
  .nav__links a:hover{ 
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 0.2px 0 rgba(255,255,255,255) inset;
  }

  .btn {
    display: none;
  }

  #about p {
    padding: 20px;
  };

}

@media screen and (max-width: 995px)
{
  .contact-us{
    padding: 20px;
  }

  .box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "form"
        "info"
        "map";
  }
}