/* THIS CODE IS REPONSIBLE TO MAKE THE WEBPAGE RESPONSIVE */

/*
HOME PAGE 
*/

/* navigation bar */
@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .logo img {
    width: 300px;
  }
}


/* The more information columns */
@media screen and (max-width: 750px) {
    
    .section-container {
        flex-direction: column; /* Switch to a column layout on smaller screens */
      }
    
      .column,
      .text-content {
        width: 100%; /* Make columns take full width on smaller screens */
      }
  }

@media screen and (max-width: 1100px)
{

  #intro h4
  {
    position: relative;
    font-size: 50px;
    padding: 0rem 25px 0rem;
  }

  #intro p{
    padding: 0rem 3rem 0rem;
  }

  .hamburger {
    top: -10px; /* Adjust the top position */
    left: 140px; /* Adjust the right position */
  }

  .toggle-menu {
    right: 10px; /* Adjust the right margin */
  }

  .hamburger,
  .toggle-menu{
    display: block;
  }

  .hamburger{
    z-index: 5;
  }
  .nav__links{
    z-index: 4;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: var(--secondary-color);
    width: 300px;
    height: 100%;
    padding: 65px;
  }

  .nav__links li
  {
    width: 100%;
  }

  .nav__links a
  .nav__links a:hover{ 
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 0.2px 0 rgba(255,255,255,255) inset;
  }

  .btn {
    display: none;
  }

  #about p {
    padding: 2rem;
  };

}

@media screen and (max-width: 995px) {
  .contact-us {
    padding: 20px;
    width: 100%;
  }

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "form"
      "info"
      "map";
    width: 100%;
  }
}

/* Additional styles for larger screens */
@media screen and (min-width: 996px) {
  .contact-us {
    padding: 40px 100px;
  }

  .box {
    margin-top: 20px; /* Add margin for spacing */
  }
}