
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

:root{
    /* colors */
    --primary-color: #ab0534;
    --primary-color-dark:  #5e011c;
    --secondary-color: #f0b312;
    --secondary-color-dark: #c79304;
    --text-dark: #000000;
    --text-light: #676767;
    --white: #ffffff;
    --light-grey: #f0f0f0;

    /* dimensions */
    --max-width: 1200px;

    /* font sizes */
    --main-titles: 85px;
    --sub-title: 26px;
    --body-text: 16px;
    --links: 20px;
}

/* START OF NAV BAR */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--links);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: white;
  z-index: 10;
  .header {
    height: 0px; 
  }
}

/* Nav */
.nav {
  height: 75px;
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* JAG Racing Logo*/
.logo img {
    width: 230px; 
    height: auto; 
    max-width: 250px; 
  }

/* Hamurger Menu Icon */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

/* Side Menu for smaller screens */
.nav__toggle-menu, .nav__toggle-close {
  font-size: 2rem;
  color: var(--primary-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    z-index: 10;
    font-weight: 500;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }

  a.nav__link {
    text-decoration: none;
  }

  /* Allows the underline hover effect to be hidden */
  body.menu-open a.nav__link::after {
    background-color: transparent !important; /* Override underline effect when side menu is open */
  }

  a.nav__link::after {
    display: none; 
  }

}

/* Nav Bar Links */
.nav__link {
  color: var(--text-dark);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Side menu links hover effect*/
.nav__link:hover {
  background-color: var(--secondary-color);
}

/* Contact Us Button */
button.nav__link  {
    background-color: var(--primary-color); 
    color: var(--white); 
    border-radius: 8px; 
    padding: 10px 12px; 
    margin-top: 0.75rem;
    margin-left: 1.5rem;
    font-family: "Poppins", "sans-serif";
    font-size: 1rem;
    border: none;
    font-weight: 500;
}

/* Contact Us Button Hover Effect */
button.nav__link:hover  {
  background-color: var(--primary-color-dark); 
}

a.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
}

a.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: background-color 0.3s ease; 
  margin-bottom: 15px;
}

a.nav__link:hover::after {
  background-color: var(--primary-color); 
  transition: 0.3s;
  width: 100%;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 4.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }

}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

.logo img {
  width: 230px;
  height: auto;
  max-width: 250px;
}

/* Media query for smaller screens, replace the image source */
@media screen and (max-width: 480px) {
  .logo img {
    content: url('assets/JAG-Logo\ \(1\).png'); 
  }
}

/*
Content portion of the page
*/

#intro h2 
{
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 7rem;
    font-family: 'Inter', sans-serif;
}

#intro h2::after {
    content: "";
    display: block;
    width: 150px; 
    height: 2px; 
    background-color: var(--primary-color);
    margin: 10px auto; 
}

#intro p{
  text-align: center;
}

#sponsor-info{
  text-align: center;
  margin-top: 5rem;
}

#sponsor-info h3{
  font-family: 'Inter', sans-serif;
}

#sponsor-info p{
  font-size: var(--body-text);
  margin: 1rem;
}

.pdf-frame {
  display: block;
  margin: 0 auto;
  width: 90%; 
  max-width: 800px; 
}

.pdf-frame-status{
  display: none;
  margin-top: 0px;
}

@media (max-width: 767px) {
  .pdf-frame {
      display: none; /* Hide the PDF frame on smaller screens */
  }

  .pdf-frame-status{
    display: block;
    padding: 2rem;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    text-align: center;
  }
}

/* Accordion Menu */

.accordion {
  display: grid;
  align-content: center;
  height: 95vh;
}

.accordion__container {
  display: grid;
  row-gap: 1.25rem;
  padding: 2rem 2rem;
  border-radius: .5rem;
  /* box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1); */
  margin-top: 20px;
}

.accordion__title {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 400;
  margin-top: 0;
  transition: .2s;
  font-weight: 500;
  margin-left: 15px;
}

.accordion__header {
  display: flex;
  column-gap: .5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}

.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: 15px;
  color: white;
}

.accordion__item {
  box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
  border-radius: .25rem;
  position: relative;
  transition: all .25s ease;
  /* width: 450px; */
}

.accordion__item::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .25rem 0 0 .25rem;
}

.accordion__item:nth-child(1),
.accordion__item:nth-child(2),
.accordion__item:nth-child(3),
.accordion__item:nth-child(4),
.accordion__item:nth-child(5),
.accordion__item:nth-child(6) {
  /* background: linear-gradient(to right, #5e011c, #ab0534); */
  background-image: -webkit-linear-gradient(right, #ab0534, #8a0027);
}

.accordion__item:nth-child(1)::after {
  background-color: var(--secondary-color);
}

.accordion__item:nth-child(2)::after {
  background-color: var(--secondary-color);
}

.accordion__item:nth-child(3)::after {
  background-color: var(--secondary-color);
}

.accordion__item:nth-child(4)::after {
  background-color: var(--secondary-color);
}

.accordion__item:nth-child(5)::after {
  background-color: var(--secondary-color);
}

.accordion__item:nth-child(6)::after {
  background-color: var(--secondary-color);
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}

/*Rotate icon and add font weight to titles*/

.accordion-open .accordion__title {
  font-weight: 700;
}

.button-container{
  text-align: center; 
  margin-bottom: 4rem;
}

.download-button {
  padding: 8px 16px;
  outline: none;
  border: none;
  font-size: var(--links);
  font-weight: 500;
  font-family: 'Afacad', sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.download-button:hover {
  background-color: var(--primary-color-dark);
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #121313;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}

footer p{
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  line-height: 1.7rem;
  }

footer .container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
}

.ext-links{
  margin-top: 20px;
  display: flex;
}

.ext-links li{
  list-style: none;
}

.ext-links li a{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.ext-links li a:hover{
  background-color: #ab0534;
}

ion-icon[name="logo-linkedin"] {
  color: white;
  font-size: 30px; 
}

footer .container .sect-aboutUs {
  margin-right: 30px;
  width: 40%;
}

footer h2{
position: relative;
color: white;
font-weight: 500;
margin-bottom: 15px;
margin-top: 20px;
font-family: 'Inter', sans-serif;
}

footer h2:before{
content: "";
position: absolute;
bottom: -5px;
left: 0;
width: 50px;
height: 2px;
background: #ab0534;
}

footer .container .sect-aboutUs p{
color: #999;
}

.quick-links h2{
position: relative;
width: 100%;
}

.quick-links ul li{
list-style-type: none;
}

.quick-links ul li a{
color: #999;
text-decoration: none;
margin-bottom: 10px;
display: inline-block;
}


.quick-links ul li a:hover{
color: white;
}

footer .container .sect-aboutUs,
footer .container .contact{
width: calc(35% - 60px);
margin-right: 0 !important;
}

.contact .info{
position: relative;

}

.contact .info li{
display: flex;
margin-bottom: 20px;
}

.sect-contactUs span{
color: white;
font-size: 20px;
}

.sect-contactUs li span{
color: white;
background: #121313;
}

.sect-contactUs li{
color: #999;
text-decoration: none;
margin-bottom: 20px;
}

.sect-contactUs li a{
color: #999;
text-decoration: none;
}

.sect-contactUs li a:hover{
color: #fff;
}

.copyright-text{
width: 100%;
  background: #ab0534;
  padding: 8px 40px;
  text-align: center;
  color: white;
  font-weight: 600;
}

@media (max-width: 991px){
footer{
  padding: 40px;
}

footer .container{
  flex-direction: column;
}

footer div.sect-contactUs ul.info{
  margin-right: 0;
  margin-bottom: 25px;
  background: #121313;
}

footer .container .sect-aboutUs{
  width: 100%;
}

.copyright-text{
  width: 100%;
  background: #ab0534;
  padding: 8px 40px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.quick-links h2{
  width: 100%;
}
}