/* CSS FOR HOME PAGE */

@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root{
    /* colors */
    --primary-color: #ab0534;
    --primary-color-dark:  #5e011c;
    --secondary-color: #F3B61F;
    --secondary-color-dark: #c79304;
    --text-dark:  #1B2021;
    --text-light: #676767;
    --white: #ffffff;
    --light-grey: #f0f0f0;

    /* font sizes */
    --main-titles: 85px;
    --sub-title: 40px;
    --body-text: 16px;
    --links: 20px;
}

/* START OF NAV BAR */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--links);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: white;
  z-index: 10;
  .header {
    height: 0px; 
  }
}

/* Nav */
.nav {
  height: 75px;
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

/* JAG Racing Logo*/
.logo img {
    width: 230px; 
    height: auto; 
    max-width: 250px; 
  }

/* Hamurger Menu Icon */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

/* Side Menu for smaller screens */
.nav__toggle-menu, .nav__toggle-close {
  font-size: 2rem;
  color: var(--primary-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    z-index: 10;
    font-weight: 500;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }

  a.nav__link {
    text-decoration: none;
  }

  /* Allows the underline hover effect to be hidden */
  body.menu-open a.nav__link::after {
    background-color: transparent !important; /* Override underline effect when side menu is open */
  }

  a.nav__link::after {
    display: none; 
  }

}

/* Nav Bar Links */
.nav__link {
  color: var(--text-dark);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* Side menu links hover effect*/
.nav__link:hover {
  background-color: var(--secondary-color);
}

/* Contact Us Button */
button.nav__link  {
    background-color: var(--primary-color); 
    color: var(--white); 
    border-radius: 8px; 
    padding: 10px 12px; 
    margin-top: 0.75rem;
    margin-left: 1.5rem;
    font-family: "Poppins", "sans-serif";
    font-size: 1rem;
    border: none;
    font-weight: 500;
}

/* Contact Us Button Hover Effect */
button.nav__link:hover  {
  background-color: var(--primary-color-dark); 
}

a.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--text-dark);
}

a.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: background-color 0.3s ease; 
  margin-bottom: 15px;
}

a.nav__link:hover::after {
  background-color: var(--primary-color); 
  transition: 0.3s;
  width: 100%;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 4.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }

}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

/*Intro Section*/

#intro {
    /* Setting the image */
    background-image: url('assets/swc-logo-building.jpeg');
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right; 
}

#intro h4 {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    padding: 0rem 160px 0rem; 
    font-weight: 600;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#intro p {
    color: var(--white);
    font-size: 24px;
    text-align: right;
    position: relative;
    padding: 0rem 10rem 0rem 0rem;
    font-style: italic;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* About Section */

#about h2 
{
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 45px;
}

#about h2::after {
    content: "";
    display: block;
    width: 100px; 
    height: 2px; 
    background-color: var(--primary-color);
    margin: 10px auto; 
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center both elements horizontally */
}

.sae-picture {
    width: 300px;
    height: auto;
    margin-right: 20px; 
    order: 1; 
    padding: 1.5rem;
    margin-top: 15px;
    margin-left: 20px;
}

#about p {
    color: var(--text-dark);
    font-size: 17px; 
    margin-top: 10px; 
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    flex: 1;
    padding: 4rem;
}

.text-content p a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s; 
}

.text-content p a:hover {
    text-decoration: underline;
    color: var(--primary-color-dark); 
}

/* More Information Section */

/* Three columns */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 250px;
    background-color: var(--white);
    margin-top: 60px;
}

.info-columns .column{
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    align-items: center;
}

/* Learn more buttons for each of the three columns */
.learn-more {
    display: inline-block; 
    padding: 0.5rem 1rem; 
    margin: 15px;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 13px;
}

.learn-more:hover {
    background-color: var(--primary-color-dark); 
}

#learn-more-info h3{
    text-align: center;
}

#learn-more-info p
{
    font-family: 'Inter', sans-serif;
    font-size: var(--body-text);
    padding: 0rem 1.5rem;
    margin-top: 0.75rem;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #121313;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

footer p{
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  line-height: 1.7rem;
}

footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

footer .container .sect-aboutUs {
    margin-right: 30px;
    width: 40%;
}

footer h2{
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
}

footer h2:before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #ab0534;
}

footer .container .sect-aboutUs p{
  color: #999;
}

.quick-links h2{
  position: relative;
  width: 100%;
}

.quick-links ul li{
  list-style-type: none;
}

.quick-links ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}


.quick-links ul li a:hover{
  color: white;
}

footer .container .sect-aboutUs,
footer .container .contact{
  width: calc(35% - 60px);
  margin-right: 0 !important;

}

.contact .info{
  position: relative;
}

.contact .info li{
  display: flex;
  margin-bottom: 20px;
}

.sect-contactUs span{
  color: white;
  font-size: 20px;
}

.sect-contactUs li span{
  color: white;
}

.sect-contactUs li{
  color: #999;
  text-decoration: none;
  margin-bottom: 20px;
}

.sect-contactUs li a{
  color: #999;
  text-decoration: none;
}

.sect-contactUs li a:hover{
  color: #fff;
}

.copyright-text{
  width: 100%;
    background: #ab0534;
    padding: 8px 40px;
    text-align: center;
    color: white;
    font-weight: 600;
}

@media (max-width: 991px){
  footer{
    padding: 40px;
  }

  footer .container{
    flex-direction: column;
  }

  footer div.sect-contactUs ul.info{
    margin-right: 0;
    margin-bottom: 25px;
  }

  footer .container .sect-aboutUs{
    width: 100%;
  }

  .copyright-text{
    width: 100%;
    background: #ab0534;
    padding: 8px 40px;
    text-align: center;
    color: white;
    font-weight: 600;
  }

  .quick-links h2{
    width: 100%;
  }
  
}